
.dashboard_container{
   
    width: 100%;
    height: 100vh;
    overflow-y:hidden;
     
}
.header_container{
    width: 100vw;
    height: 10%;
    background-color: #9C27B0;
}
.dashboard_body{
    width: 100%;
    height: 90%;
    /* border: 1px solid red; */
    background-size: contain;
    background-image: url("../images/family1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    opacity: 2;
}
@media (max-width:1230px) {
    .dashboard_body{
        background-position: center;
        background-size: cover;
    }
}
@media (max-width:1000px) {
    .dashboard_body{
        background-position: center;
        background-size: contain;
    }
    .dashboard_content{
    
           width: 60%;
       }
}
@media (max-width:1000px) {
    .dashboard_body{
        background-position: bottom;
        background-size: contain;
    }
   
}
.dashboard_content{
 display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
    width: 40%;
}
@media (max-width:1015px) {
  
    .dashboard_content{
    
           width: 80%;
       }
}

.eventslist_container{
    width: 100vw;
    height: 100%;
 margin: 0;
 padding: 0;
    /* overflow-y:hidden; */
}

.eventlist_body{
  /* border: 1px solid red; */
   /* width: fit-content; */
   padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
 
}
.card-image-birthday{
  background-image: url("../images/birthday1.jpg");
  background-size: contain;
  border: none;
  outline: none;
  height: 200px;
}
.card-image-wedding{
  background-image: url("../images/wedding.jpg");
  background-size: contain;
  border: none;
  outline: none;
  height: 200px;
}
.card-image-baby{
  background-image: url("../images/baby.jpg");
  background-size: contain;
  border: none;
  outline: none;
  height: 200px;
}
.card-image-other{
  background-image: url("../images/other.jpg");
  background-size: contain;
  border: none;
  background-position: center;
  outline: none;
  height: 200px;
}
.add-btn{
  left: 100%;
  top: 80%;
    position: fixed;
  
  }
  .entry_body{
    padding: 20px;
  }
@media (max-width: 600px) {
  .eventlist_body{
    /* border: 1px solid red; */
     /* width: fit-content; */
     padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
   
 }
 .plus-icon1{
 
  position: fixed;
  top: 90%;
  left:80%;
  z-index: 3000;
 
   }
   .add-btn{
 
    /* margin-right: 20%; */
    margin-left: -13%;
    margin-top: 5%; 
   /* display: flex;
   align-items: center;
   justify-content: center;
   width: 100%; */
      position: fixed;
     
    
    }
   .card-image-birthday{
   background-size: cover;
    height: 100px;
  }
  .card-image-wedding{
    
    height: 100px;
  }
  .card-image-baby{
  
    height: 100px;
  }
  .card-image-other{
    
    height: 100px;
  }
  .event-name{
    font-size: 10px;
  }
  .pie_container{
    display: grid;
    grid-template-rows: 1fr 1fr;
 
  }
  .entry-grid{
    align-items: center;
    justify-content: center;
  }
 
}


  .addevent_container{
    width: 100%;
    height: 100vh;
    /* overflow-y:hidden; */

  }
  .addevent_header{
    padding-left: 20px;
height: 10%;
width: 100%;
display: flex;
align-items: center;
gap: 20px;
background-color: #9C27B0;
color: #FFFFFF;
  }
  .entrylist_header{
    
    height: 40vh;
    width: 100%;
    background-color: #9C27B0;
color: #FFFFFF;
    /* background-size: cover;
    background-image: url("../images/family1.jpg");
    background-repeat: no-repeat;
    background-position: center; */
  }
  .addevent_form{
    /* padding: 20px; */
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
 

  .card_content{
    padding: 0;
    /* line-height: 2px; */
/* height: 80px; */
 
  } 
  .card_name{
    padding-left: 0;
    margin-top: 0;
  }
.card_container{
  /* width: fit-content; */
 
}
  .card_header{
    display: flex;
    justify-content: space-between;
    background-color: #ffff3f;
    align-items: center;
  }
  .card_heading{
    /* padding: 0;
    display: flex;
    justify-content: space-between; */
  }
  .card_bottom_container{
    padding: 0;

  }
  .card_bottom{
    padding: 0 10px;
    /* padding-top: 10px; */
    margin: 0;
    background-color: #ffff3f;
  }
  .card_table{
    background-color: #ffff3f;
    border: none;
    outline: none;
    /* height: 100px; */
  }
  
  .amount-row, .gift-row{
   padding: 0;
   margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: left;
  column-gap: 10px;
height: auto;
  }
  .inner-box{
    display: flex;
    gap: 50px;
  }
  .row-text{
    /* text-align: left;
    border: 1px solid red; */
  }
  
  .head-body{
     align-items: center;
    display: flex;
  }
  .add-btn{
  left: 90%;
  top: 85%;
    position: fixed;
  
  }
  .event-row{
    padding: 0;
    margin: 0;
  }
  .pie_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
 align-items: center;
 /* gap: 100px; */
    width: fit-content;
  }
  .newentry_dropdown{
    z-index: 3000;
  }
  .new-icon{
    z-index: 1;
  }
  .editevent_header, .editentry_header, .addevent_header, .addentry_header{
    padding-left: 10%;
    background-color: #9C27B0;
    color: #FFFFFF;
    display: flex;
    gap: 10%;
    align-items: center;
  }
  .entries_header{
  
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    background-color: #9C27B0;
    color: #FFFFFF;
    padding-left: 5%;
  }
  .entries_header_left{
    display: flex;
    flex-direction: row;

    align-items: center;
gap:5%;
  }
  .entries_header_right{
    display: flex;
    flex-direction: row;

    align-items: center;

  }
  .entrylist-head{
    font-size: 19px;
    /* padding-right: 5%; */
  }
  .addevent-form{
padding: 10%;

  }
  /* .entrylist_header{
    background-image: url("../images/family5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
  .ent_box{
    width: 100%;
  }
  .entrieslist_container{
    padding: 0% 5%;
  }
  .entrieslist_search{
    margin-bottom: 5%;
    margin-top: 5%;

  }
  .share_box{
   top:-50%;
    padding: 20%;
    /* height:50%; */
    z-index: 4000;
  }