.sidebar-container{

}
.logo{
    width:50px;
    height: 50px;
    background-image: url("../images/family.jpg");
    background-size: cover;
    border-radius: 50%;
}

.footer{
    display: none;
}
@media screen and (max-width: 620px) {
    .footer{
        display: block;
        
    }
    .sidebar{
        display: none;
    }
    main{
       padding: 0;
        height: 90vh;
        width: 100vw;
        overflow-y: scroll;
        scroll-snap-type: hidden;
    }
    /* .footer-box{
        background-color: blue;
    } */
    
}