/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.container{
  margin: 2vh 37vw;
  height: 96vh;
  box-shadow: 0px 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
  border-radius: 20px;
  overflow-y: scroll;
  /* scroll-snap-type: hidden; */
/* }
@media (max-width:390px) {
  .container{
  margin: 0;
}
}  */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotaete(360deg);
  }
} */
html,
body {
  width: 100vw;
  min-height: 100vh;
  /* overflow-y: hidden; */
  margin: 0 !important;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}